* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f9fafb;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  
}

header {
  background-image: url(imagenes/fondo.jpg);
  color: white;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
  color: #1e293b;
  margin-bottom: 1rem;
}

footer {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

#resultados {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resultado {
  border-radius: 6px;
  padding: 1rem;
  background-color: #EEEEEE;
}

.contenido {
  padding: 1rem;
  width: 70vw;
  margin: 0 auto;
}

#busqueda-input {
  width: 100%;
  height: 2rem;
  border-radius: 6px;
  border-width: .5px;
  padding: 0.5rem;
  background-color: #EEEEEE;
}

#busqueda-input:hover {
  border: 1px solid #0f172a;
}

.buscar-boton {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 6px;
  border-width: .5px;
}

.main {
  flex:1;
  text-align: justify;
}

.conceptos {
  display: none;
}

.conceptos:has(#resultados > *) {
  display: block;
}

.cloud-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

.cloud-item {
  background-color: #e6f3e6;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  color: #166c35;
}

.cloud-item:hover {
  background-color: #e6f3e6;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

.nav-links a:visited,
.nav-links a:active {
  color: #ecf0f1;
}


.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  border-radius: 10px;
  width: 15%; /* Ajusta según tu diseño */
  height: 15%;
  max-width: 100%;    /* Ajusta según tu diseño */
}


/* Submenú */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  min-width: 150px;
  z-index: 1;
  flex-direction: column;
}

.dropdown-content a {
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

@media screen and (max-width: 900px) {
  .contenido {
    width: 100vw;
  }

  .logo {
    width: 50%; /* Más grande en móviles */
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  .dropdown-content {
    position: static;
  }
}
